.card-dashboard{

    background-color: var(--main-color);
    width: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    cursor: pointer;

}

.text-card{

    font-size: 20px;

}

.btn-add-air{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

#att_clientes{
    
    display: none;
}



.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#form-att-cliente{
    display: none;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
 }
 
 .notification.show {
    visibility: visible;
    opacity: 1;
 }
 
 .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
 }
